:root{
    --base-color: linear-gradient(to bottom, #babee0, #a9dadc, #ccebf3);
    --base-variant: #dcf1f8;
    --text-color: #23323d;
    --secondary-text: #1a5b71;
    --button-color: #172c42;
    --hover-button:  #1a5b71;
  }

  .darkmode {
    --base-color: linear-gradient(to bottom, #1a5b71, #172c42);
    --base-variant: #1b3e53 ;
    --text-color: #ddf1f8;
    --secondary-text: #6cb6b7;
    --button-color: #ddf1f8;
    --hover-button:  #6cb6b7;
  }

  h2{
    color: var(--text-color);
  font-size: 1.1rem;
  text-decoration: none ;
  font-weight: 550 ;
  }



  .login_bg {
  height: 100vh;
  width: 100%;
  background: url("assets/images/login_bg.png") no-repeat center center;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
}

.logo {
    cursor: pointer;
    border-radius: .5rem;
    transition: box-shadow 0.2s ease;
    width: 7rem ;
}

.logo:hover,
.logo:focus {
    box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
    outline: none;
}


  #logo{
    display: flex;
    position: fixed;
    cursor: pointer;
  }



.form-logo {
  width: 10rem;
  margin-left: 20rem;
  margin-top: 10rem;
}
.form-title{
  width: 20rem;
  color: var(--text-color);
  font-size: 1.3rem;
  text-decoration: none ;
  font-weight: 650 ;
}

.form_title2{
  color: var(--text-color);
  font-size: 1.1rem;
  text-decoration: none ;
  font-weight: 700 ;
  margin-left: 2rem;
  text-align: left;
}

.login-layout{
    margin: 10rem;
}

  .logo_login{
     cursor: pointer;
    border-radius: .5rem;
    transition: box-shadow 0.2s ease;
    width: 7rem ;
    margin:auto;
  }

  .form-login{
    margin-top: 6rem !important;
    bottom: 10%;
  }


#logo img.active{
  color: var(--secondary-text);
    box-shadow: 2px 1px 10px 0 #1a5b71;
    border-radius: .5rem;
}

#logo:focus {
    outline: none;
    box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
    display: inline-block;
}

.logo-img.dark { display: none; }

.darkmode .logo-img.light { display: none; }
.darkmode .logo-img.dark { display: block; }


#theme-switch svg {
    color: var(--button-color);
    cursor: pointer;
    transition: box-shadow 0.2s ease, color 0.2s ease;
  
}

#theme-switch svg:hover,
#theme-switch svg:focus {
    box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
    outline: none;
}

#theme-switch:focus {
    outline: none;
    box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
    display: inline-block;
}

  #theme-switch svg{
  color: var(--button-color );
}


.light-mode-icon { display: none; }

.darkmode .dark-mode-icon { display: none; }
.darkmode .light-mode-icon { display: block; }

.profile-icon{
  flex-shrink: 0;
  justify-content: end;
}



    body {
    margin-top:2rem;
    padding: 0;
    min-height: 92vh;
    background: var(--base-color);
    background-attachment: fixed; /* keeps gradient still */
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
}

.sidebar {
  background-color: var(--base-variant);
  border-radius: 1rem;
  width: 100%;
  min-height: 75vh;
  max-width: 100%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  box-shadow:0 8px 15px 0 #0000004d;
  position: relative;
  display: flex;
  overflow: auto;
  padding-top:2rem ;
  padding-left:1rem;
  padding-right: 1rem;
  z-index:  3;
}

.nav-link{
  color: var(--text-color);
  font-size: .8rem;
  text-decoration: none ;
  font-weight: 550 ;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: center;
 text-align: center;
}

.nav-link:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--secondary-text);
  border-radius: .5rem;
}

.nav-link:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--secondary-text);
  box-shadow: 2px 1px 10px 0 #1a5b71;
    border-radius: .5rem;
    height:auto ;
    width: auto;
}

.nav-link.active{
   color: var(--secondary-text);
   box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
    height:2rem ;
    width: auto;
    margin-bottom: .3rem;
}

.offcanvas-md {
    background-color:var(--base-variant) !important;
    border-radius: 1rem;
}

/* Hamburger button */
.menu-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    background-color: var(--button-color);
    color: #ddf1f8; 
    box-shadow: 0 4px 8px #0000004d;
    border-radius: .5rem;
}



.strip{
  width: 100%;
  position: fixed;
}


.banner{
  display: flex;
  color: var(--text-color);
  font-size :1.2rem;
  font-weight: 600;
  margin-top: 2.5rem;
}


.form_bg{
    box-shadow: 0 0 10px var(--secondary-text);
    color: var(--secondary-text);
    border-radius: .5rem;
    background-color: var(--base-variant);
    width: 100%;
    margin-top: 1rem;
   margin-left: -2rem;
     min-height: 75vh;
  max-height: 75vh;
    padding: 1rem;
    text-align: center;
     overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
      justify-content: top;
}



.form_bg2{
    box-shadow: 0 0 10px var(--secondary-text);
    color: var(--secondary-text);
    border-radius: .5rem;
    background-color: var(--base-variant);
    width: 48%;
    margin-top: 1rem;
    margin-left: 1rem;
    min-height: 75vh;   
    max-height: 75vh;
    padding: 1rem .5rem;
    text-align: center;
     overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
      justify-content: top;
}

.form_bg3{
    box-shadow: 0 0 10px var(--secondary-text);
    color: var(--secondary-text);
    border-radius: .5rem;
    background-color: var(--base-variant);
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    
    padding: 1rem;
    text-align: center;
     overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
      justify-content: top;
}

.form_bg::-webkit-scrollbar {
  width: 8px;
}
.form_bg::-webkit-scrollbar-thumb {
  background: var(--secondary-text);
  border-radius: 10px;
}


.form_title{
     margin-top: 1.3rem;
       display: block;
    width: 100%;
}

.formFields{
   color: var(--text-color);
  font-size: .8rem;
  text-decoration: none ;
  font-weight: 400 ;
 margin-left: 1rem;
  display: inline-block;
  width:70%;
  text-align: left;
}



.placeholder_style{
   width: 70%;
    color: var( --secondary-text);
  font-size: .7rem;
  margin-left: 1rem;
  min-height: 2rem;
}

.input{
   color: var( --secondary-text) !important;
  font-size: .7rem;
}

.placeholder_style:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--secondary-text);
  border-radius: .5rem;
}

.placeholder_style:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--secondary-text);
  box-shadow: 2px 1px 10px 0 #1a5b71;
    border-radius: .5rem;
   outline: none !important;
}

.placeholder_style.active{
   color: var(--secondary-text);
   box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
    height:2rem ;
    width: auto;
    margin-bottom: .3rem;
}



input:autofill {
  border: none;
  color: var(--secondary-text) !important;
}

.form-control{
  width: 100% !important;
   margin:  .9rem .9rem .9rem 0rem;
}

.button {
   width: 100% !important;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    margin-top: 1rem;
    padding:  .5rem 1rem .5rem 1rem;
    background-color:var(--button-color); 
}
.close{
  position: fixed;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    margin-top: 1rem;
    padding:  .5rem 1rem .5rem 1rem;
    background-color:var(--button-color);
  
}


.loginbtn{
  width: 50% !important;
  margin: 1rem auto 1rem auto;
}

.button2{
 
min-width: fit-content;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    margin-top: -1rem;
    padding:  .5rem 1rem .5rem 1rem;
    background-color:var(--button-color); 
    position: absolute;
    top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.button3{
   width: 100% !important;
   text-decoration: none;
    color: var( --text-color);
    border-radius: .5rem;
    margin-top: 1rem;
    padding:  .5rem 1rem .5rem 1rem;
    background-color:var( --base-variant); 
    border: none !important;
}

.button4{
    width: 100% !important;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
   margin-bottom: .2rem;
    padding:  .2rem .5rem .2rem .5rem;
    background-color:var(--button-color);
   
}


.button5{
    width: 5rem!important;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    padding:  .4rem .5rem .4rem .5rem;
    background-color:var(--button-color);
}
.button6{
    width: 7rem;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    padding:  .1rem .5rem .1rem .5rem;
    background-color:var(--button-color);
 display: flex;
 text-align: center; 
 display:table-cell;
}

.button7{
    width: 13rem;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    padding:  .1rem .5rem .1rem .5rem;
    background-color:var(--button-color);
 display: flex;
 text-align: center; 
 display:table-cell;
 justify-content: center;
}

.button8{
    width: 100%;
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    padding:  .1rem .5rem .1rem .5rem;
    background-color:var(--button-color);
 display: flex;
 text-align: center; 
 display:table-cell;
 justify-content: center;
}


.dashboard-inner {
  margin-left: auto;
  margin-right: auto;
}

.search_button{
   text-decoration: none;
    color: var( --base-variant);
    border-radius: .5rem;
    margin-top: 1rem;
    padding:  .5rem 1rem .5rem 1rem;
    background-color:var(--button-color); 
}

.close:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button2:hover{
  box-shadow: 0 0 5px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button4:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button5:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button6:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button7:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}

.button8:hover{
  box-shadow: 0 0 10px var(--secondary-text);
  color: var(--base-variant);
  border-radius: .5rem;
  background-color: var( --hover-button);
}
.close:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}


.button:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}

.button3:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}

.button4:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}

.button5:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}
.button6:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}

.button7:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}

.button8:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--text-color);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --base-variant);
}

.button2:focus{
  box-shadow: 0 0 10px var(--secondary-text);
   color: var(--base-variant);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --hover-button);
}

.button.active{
   color: var(--secondary-text);
   box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
}

.button3.active{
   color: var(--secondary-text);
   box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
}

.button2.active{
   color: var(--secondary-text);
   box-shadow: 0 0 12px var(--secondary-text);
    border-radius: .5rem;
}

.button_table{
   font-size: .6rem;
   text-decoration: none;
   color: var( --base-variant);
   background-color:var(--button-color); 
    border-radius: .3rem;
    padding: .3rem .5rem .3rem .5rem;
  align-content: center !important;
  width: 100vh !important;
}

.img_card{
box-shadow: 0 0 10px var(--secondary-text);
    border-radius: .5rem;
}

.img_card:focus{
box-shadow: 0 0 10px var(--secondary-text);
   color: var(--base-variant);
    border-radius: .5rem;
   outline: none !important;
   background-color: var( --hover-button);
}



table {
    border-collapse:separate;
    border-radius:6px;
    margin: 2rem;
    box-shadow: 0 0 10px var(--secondary-text);
    padding: 0%;
    width: 95% !important;
}

.table_admin{
  color: var(--text-color);
 
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}
td{
   padding: .3rem;
   font-size: .7rem;
}

th {
    background-color: var(--text-color);
    padding: .5rem;
    border-top: none;
    color: var(--base-variant);
    font-size: .7rem;
}

td:first-child, th:first-child {
     border-left: none;
}

.dropdown-header{
  text-align: center;
}

@media (max-width: 1118px) {

  
  .form_bg {
    display: block; 
  }

  .form_bg2 {
    width: 90% !important;     
    margin: 1rem auto !important; 
    min-height: auto;          
    max-height: none;          
  }
 /* table spacing becomes nicer on stacked layout */
  .form_bg2 table {
    margin: 1.5rem auto !important;
    width: 95% !important;
  }
}


@media (max-width: 992px) {
.form-logo {
  width: 10rem;
margin: auto;
margin-top: 10rem;
margin-left: 1rem;
margin-right: 1rem;
}

  .form-login{
   margin-top: 5rem !important;
   margin:auto;
  }
}


    

/* small screens */
@media (max-width: 767px) {
    .sidebar {
        margin: 1rem 1rem 1rem 0rem;
        height: 100%;
        border-radius: 1rem;
        box-shadow:0 8px 15px 0 #0000004d;
        position: fixed;
        overflow: auto;
        padding-top:2rem ;
        padding-left:.5rem;
        padding-right: .5rem;
        z-index: 9999;
    }

   .strip{
  width: 100%;
  margin-top:0;
  position: fixed;
}

    #sidebarMenu{
  width: 70% ;
}

  .form_bg {
        margin: auto;
        width: 90%;
    }

    .form_bg2 
{
 width: 90%; 
}

    table {
    border-collapse:separate;
    border-radius:6px;
    margin: 2rem 0rem 2rem 0;
    box-shadow: 0 0 10px var(--secondary-text);
    padding: 0%;
    width: 95% !important;
}
.form-logo {
  width: 10rem;
margin: auto;
margin-top: 10rem;
margin-left: 1rem;
margin-right: 1rem;
}

  .form-login{
    margin-top: 5rem !important;
   margin:auto;
  
  }

.menu-btn {
    top: 3rem;
    left:1rem;
}

.logo{
  position: fixed;
  width: 7rem ;
  margin-top:1rem;
  margin: auto;
 
}


.banner{
  display: flex;
  font-size :1.1rem;
  font-weight: 600;
  margin-top: 5rem ;
  width: 90%;
}



}

@media (max-width: 375px) {
.form-logo {
  width: 10rem;
margin: auto;
margin-top: 5rem;
margin-left: 1rem;
margin-right: 1rem;
}

  .form-login{
    margin-top: 5rem !important;
   margin:auto;
  
  }
}


