 :root{
    --base-color:linear-gradient(to bottom, #babee0, #a9dadc, #ccebf3);
  }

    body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #babee0, #a9dadc, #ccebf3);
    background-attachment: fixed; /* keeps gradient still */
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    
}

.sidebar {
  background-color: #dcf1f8;
  border-radius: 1rem;
  width: auto;
  height: 100% ;
  margin: 7rem 1rem 7rem 1rem;
  box-shadow:0 8px 15px 0 #0000004d;
  position: fixed;
  overflow: auto;
  padding-top:2rem ;
  padding-left:1rem;
  padding-right: 1rem;
}

.nav-link{
  color: #23323d;
  font-size: .8rem;
  text-decoration: none ;
  font-weight: 550 ;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: center;
}

.nav-link:hover{
  color: #1a5b71;
}

.nav-link:focus{
  color: #1a5b71;
box-shadow: 2px 1px 10px 0 #1a5b71;
    border-radius: .5rem;
    height:2rem ;
    width: auto;
}

.nav-link.active{
  color: #1a5b71;
    box-shadow: 2px 1px 10px 0 #1a5b71;
    border-radius: .5rem;
    height:2rem ;
    width: auto;
    margin-bottom: .3rem;
}

.offcanvas-md {
    background-color: #dcf1f8 !important;
    border-radius: 1rem;
}

/* Hamburger button */
.menu-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    background-color: #172c42;
    color: #ddf1f8; 
    box-shadow: 0 4px 8px #00000033;
    border-radius: .5rem;
}

/* small screens */
@media (max-width: 767px) {
    .sidebar {
        margin: 1rem 1rem 1rem 0rem;
        height: 100%;
        border-radius: 1rem;
        box-shadow:0 8px 15px 0 #0000004d;
        position: fixed;
        overflow: auto;
        padding-top:2rem ;
        padding-left:.5rem;
        padding-right: .5rem;
    }

    #sidebarMenu{
  width: 70% ;
}

.logo{
  transform: translateX(-33%);
  left: 33%;
}
}

.strip{
  width: 100%;
  margin-top : 6rem;
  position: fixed;
}

.logo{
  position: fixed;
  width: 7rem ;
  margin:1rem 1rem 0rem 4rem;
}

.banner{
  display: flex;
  color: #23323d;
  font-size :.8rem;
  align-items: center;
  font-weight: 600;
}
